
button{
    background-color: #999;
    border-radius: 20px;
    margin: 20px;
}

.publicacion{
    width: 250px;
    margin: 15px;
    padding: 10px;
    background-color: #999;
    text-align: center;
    float: left;
}

.publicacion img{
    width: 100%;
}